<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Get It Done Timer</h1>
    <p>The Best Timer App For iPhones</p>
  </body>
</html>
